body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0f1131;
    color: white;
    padding: 0 1em 1em 1em; /* No top padding */
    margin: 0; /* Ensure no margin around the header */
    line-height: 1; /* Tighten line height if there's any impact */
    text-align: center;
}

nav a {
    color: white;
    margin: 0 1em;
    text-decoration: none;
}

main {
    padding: 2em;
}

button {
    margin: 1em 0.5em;
    padding: 0.5em 1em;
}

form input, form select, form button {
    display: block;
    margin: 1em 0;
}

.custom-rounded-square {
    background-color: #007bff; /* Example background color */
    padding: 10px; /* Adjust padding as needed */
    border-radius: 10px; /* Adjust border-radius to control the curvature */
}