{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="business-details-page">
        <div class="text-center mb-4">
            <h2 class="page-title">{{ user.name }} - פרטי העסק</h2>
        </div>
        <div class="row">
            {% for place, data in user.places.items() %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h4 class="card-title text-center mb-3">{{ place }}</h4>
                        <div class="place-images mb-3">
                            <div class="row">
                                {% for image in data.images %}
                                <div class="col-6 mb-2">
                                    <img src="data:image/jpeg;base64,{{ image }}" alt="Image" class="img-thumbnail">
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <p class="text-center"><b><u>תמצית:</u></b><br>{{ data.summary }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% if user.final_result %}
        <div class="text-center mt-4">
            <a href="{{ url_for('download_report') }}" class="btn btn-primary">
                <i class="bi bi-file-earmark-pdf"></i> הורד דוח PDF
            </a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
