{% extends "base.html" %}

{% block content %}
<h1>מסך ניהול המידע</h1>
<div>
    <p>שלום, {{ user.username }}</p>
    <p>העלה עבור כל אזור בין 3-5 תמונות, וצלם אותו מכמה זוויות שונות</p>
</div>
<div class="user-places">
    <ul style="list-style-type: none; padding-left: 0;">
        {% for place in supported_places %}
            <li style="margin-bottom: 1rem;">
                {% if place in user.places %}
                    <span style="color: green;"><i class="bi bi-check2"></i></span>
                    <span>{{ place }}</span>
                    <button class="btn btn-outline-primary btn-sm" onclick="toggleView('{{ place }}')">
                        <i class="bi bi-eye"></i> הצג
                    </button>
                    <div id="view-{{ place }}" style="display: none; margin-top: 1rem;">
                        <h3>{{ place }}</h3>
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    {% for image in user.places[place]['images'] %}
                                        <div class="col-4">
                                            <img src="data:image/jpeg;base64,{{ image }}" alt="Image" class="img-thumbnail">
                                        </div>
                                    {% endfor %}
                                </div>
                                <p class="card-text mt-3"><b><u>תמצית:</u></b><br>{{ user.places[place]['summary'] }}</p>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <span style="color: red;"><i class="bi bi-x"></i></span>
                    <span>{{ place }}</span>
                    <button class="btn btn-outline-success btn-sm" onclick="toggleView('upload-{{ place }}')">
                        <i class="bi bi-upload"></i> בחר אזור זה
                    </button>
                    <div id="upload-{{ place }}" style="display: none; margin-top: 1rem;">
                        <form action="{{ url_for('dashboard') }}" method="POST" enctype="multipart/form-data">
                            <input type="hidden" name="place" value="{{ place }}">
                            <input type="file" name="photos" id="photos-{{ place }}" multiple required>
                            <button class="btn btn-primary btn-sm" type="submit">
                                <i class="bi bi-cloud-upload"></i> העלה
                            </button>
                        </form>
                    </div>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    {% if user.final_result %}
        <div>
            <a href="{{ url_for('download_report') }}" class="btn btn-primary">
                <i class="bi bi-file-earmark-pdf"></i> הורד דוח PDF
            </a>
        </div>
    {% elif can_create_review %}
        <ul>
            <form action="{{ url_for('create_review') }}" method="POST">
                <button class="btn btn-secondary btn-sm" type="submit">
                    <i class="bi bi-journal-check"></i> צור ביקורת סופית
                </button>
            </form>
        </ul>
    {% endif %}
</div>
<script>
// JavaScript function to toggle the visibility of the div
function toggleView(divId) {
    // Get the div element by ID
    var divElement = document.getElementById('view-' + divId) || document.getElementById(divId);
    // Toggle the display property
    if (divElement.style.display === 'none' || divElement.style.display === '') {
        divElement.style.display = 'block';
    } else {
        divElement.style.display = 'none';
    }
}
</script>
{% endblock %}
