{% extends "base.html" %}

{% block content %}
<div class="guest-page">
    <div class="text-center mb-4">
        <h2 class="page-title">רשימת העסקים הנגישים</h2>
    </div>
    <div class="row">
        {% for user in users %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="text-center mb-3">
                        <div class="bg-primary text-light custom-rounded-square">
                            <h3 class="m-0">{{ user.username }}</h3>
                        </div>
                    </div>
                    {% for place, data in user.places.items() %}
                        <h4 class="card-subtitle mb-2">{{ place }}</h4>
                        <div class="place-images mb-2">
                            <div class="row">
                                {% for image in data.images %}
                                    <div class="col-6 mb-2">
                                        <img src="data:image/jpeg;base64,{{ image }}" alt="Image" class="img-thumbnail">
                                    </div>
                                {% endfor %}
                            </div>
                            <p><b><u>תמצית:</u></b><br>{{ data.summary }}</p>
                        </div>
                    {% endfor %}
                    <a href="{{ url_for('download_report', user_id=user.id) }}" class="btn btn-primary">
                        <i class="bi bi-file-earmark-pdf"></i> הורד דוח PDF
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
